<header>
  <div class="logo">
    <img src="assets/buhler-logo.png" alt="" />
  </div>
  <div class="info-right">
    <div class="date">

        <span class="material-icons"> schedule </span>

      <div class="date-hour">
        {{ getDate() }}
      </div>
    </div>

    <div class="operator">
      <span class="material-icons"> account_circle </span>
      <div class="menu">
        <button mat-button [matMenuTriggerFor]="menu">{{ selected }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeSelected('Operator')">
            Operator
          </button>
          <button mat-menu-item (click)="changeSelected('Maintenance')">
            Maintenance
          </button>
          <button mat-menu-item (click)="changeSelected('Bühler Engineer')">
            Bühler Engineer
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
