.machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(228, 228, 228);
  margin: 20px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  z-index: 10;
}

.status {
  align-self: end;
}

.type,
.name {
  align-self: center;
  font-size: 20px;
}

p {
  margin: 0;
}

.material-icons.state{
    color: limegreen;
}

.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 48px;

}

.warning {
  background-color: #f72c25;
  color: white;
  z-index: 10;
}

.alarm {
  background-color: orange;
  color: white;
}

.alarm *, .warning * {
    color: white;
}



.not-first::after {
  content: '';
  position: relative;
  background-color: green;
  width: 40px;
  height: 5px;
  bottom: 50%;
  left: -50%;

  z-index: 1;
}



.lines{
  display: flex;
}


