.navigation {
  width: 100%;
  height: 45px;
  background-color: lightgray;
  display: flex;
}

.items-list {
  display: flex;

  height: 100%;
  justify-content: space-between;
  width: 110px;
}

ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(57, 57, 57);
  font-size: 18px;

  height: auto;
  align-self: center;
}

.warning {
  background-color: #f72c25;
  
}

.alarm {
  background-color: orange;
}

.warning > a,
.alarm > a {
  color: white;
}

li:hover {

  background-color: rgba(0, 0, 0, 0.15);
}

li:active {
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid rgba(0, 0, 0, 0.25) ;
    /* opacity: 0.4; */

}

.warning > span,
.alarm > span {
  font-size: 18px;
  color: white;
}

.material-icons {
  font-size: 18px;
  color: limegreen;
}

.dummy {
  visibility: hidden;
}
